body {
    background-color: F2A65A;
}
h1 {
    text-align: center;
    color: DF1619;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    background-color: 321325;
}

li {
    list-style-type: none;
}

.displaytable{
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.displaytable > div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding-left: 50px;
}


