body { 
    background-color: #79C99E;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #4A4238;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

form {
    border-radius: 5px;
    background-color: #97DB4F;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(124, 62, 62);
    border-radius: 4px;
    box-sizing: border-box;
}

#output {
    padding-top: 20px;
    font-size: 20px;
    margin: auto;
    color: #4A4238;
    text-align: center;
}
